.selected {
  background-color: yellow;
  font-weight: bold;
}
th.sortable {
	cursor: pointer;
}
.sortable.asc::after {
  content: ' \25B2';  /* Up arrow */
}

.sortable.desc::after {
  content: ' \25BC';  /* Down arrow */
}

th a { color: inherit; }

.bold {
    font-weight: bold;
    color: #ff0000;
}
.modified {
  background-color: #FFC0C0;
}
