<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Results</title>
</head>

<body>
<a href="/logout">Logout</a>
<h1>Courses</h1>
<!--matricola, cognome e nome, email, corso di laurea, voto e stato di valutazione.-->
<table border="solid">
    <tr>
        <th>Student ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>School</th>
        <th>Grade</th>
        <th>State</th>
    </tr>
    <tr th:each="r : ${results}">
        <td th:text="${r.student_student_number}"></td>
        <td th:text="${r.student.name}"></td>
        <td th:text="${r.student.surname}"></td>
        <td th:text="${r.student.email}"></td>
        <td th:text="${r.student.school}"></td>
        <td th:text="${r.grade}"></td>
        <td th:text="${r.state}"></td>
        <!-- button to navigate to /EditResult for clicked row identified by student id and session id-->
        <td>
            <form action="#" th:action="@{/EditResult}" method="GET">
                <input type="hidden" name="studentId" th:value="${r.student_student_number}" />
                <input type="hidden" name="sessionId" th:value="${r.session_idsession}" />
                <input type="submit" value="Edit" />
            </form>
        </td>
    </tr>
</table>
</body>

</html>