<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: default-head(title='Report')"></head>

<body>
<div th:replace="fragments/header :: navbar"></div>
<h1>Verbale numero <span th:text="${report.idreport}"></span></h1>
<p>Data verbale: <span th:text="${report.date}"></span></p>
<p>Data appello: <span th:text="${report.session.date}"></span></p>
<table class="table table-bordered">
    <tr>
        <th>Student ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>School</th>
        <th>Grade</th>
        <th>State</th>
    </tr>
    <tr th:each="r : ${rows}">
        <td th:text="${r.student_student_number}"></td>
        <td th:text="${r.student.name}"></td>
        <td th:text="${r.student.surname}"></td>
        <td th:text="${r.student.school}"></td>
        <td th:text="${r.getGradeString()}"></td>
        <td th:text="${r.state.getDescription()}"></td>
    </tr>
</table>
<p></p>