<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" href="css/mystyle.css">
</head>

<body>
<div>
  <a th:href="@{/Logout}" style="text-align:right;">Logout</a>
</div>
<h1>Courses you have enrolled</h1>
<table border="solid">
    <tr>
        <th>Course ID</th>
        <th>Title</th>
    </tr>
    <tr th:each="course : ${courses}" th:class="${course.idCourse == selectedCourseId ? 'selected' : ''}">
        <td th:text="${course.idcourse}"></td>
        <td th:text="${course.title}"></td>
        <td><a th:href="@{/Home(selected=${course.idcourse})}">Appelli</a></td>
    </tr>
</table>
<br>
<h2>Sessions</h2>
<table border="solid">
    <tr>
        <th>Session date</th>
    </tr>
    <tr th:each="s : ${sessions}">
        <td>
            <a th:href="@{/GetStudentResult(sessionId=${s.idsession})}">
                <span th:text="${s.date}"></span>
            </a>
        </td>

    </tr>
    <!-- if sessions is empty, show message-->
    <tr th:if="${#lists.isEmpty(sessions)}">
        <td>No sessions found</td>
    </tr>
</table>
</body>

</html>