<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Courses</title>
	<style>
		.selected {
			background-color: yellow;
			font-weight: bold;
		}
	</style>
</head>

<body>
	<h1>Courses</h1>
	<table border="solid">
		<tr>
			<th>Course ID</th>
			<th>Title</th>
		</tr>
		<tr th:each="course : ${courses}" th:class="${course == selectedCourse ? 'selected' : ''}">
			<td th:text="${course.idcourse}"></td>
			<td th:text="${course.title}"></td>
			<td><a th:href="@{/Home(selected=${course.id})}">Appelli</a></td>
		</tr>

</body>

</html>