<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: default-head(title='Home')"></head>

<body>
	<div th:replace="fragments/header :: navbar"></div>
	<h1>Courses</h1>
	<table class="table table-bordered">
		<tr>
			<th>Course ID</th>
			<th>Title</th>
		</tr>
		<tr th:each="course : ${courses}" th:class="${course.idCourse == selectedCourseId ? 'selected' : ''}">
			<td th:text="${course.idcourse}"></td>
			<td th:text="${course.title}"></td>
			<td><a th:href="@{/Home(selected=${course.idcourse})}">Appelli</a></td>
		</tr>
	</table>
	<br>
	<h2>Sessions</h2>
	<table class="table table-bordered">
		<tr>
			<th>Session date</th>
			<th>Action</th>
		</tr>
		<tr th:each="s : ${sessions}">

			<!-- if reportId, link to GetReport, else link to GetResults -->
			<td>
				<p th:text="${s.date}"></p>
			</td>

			<td>
				<span th:unless="${s.isReported()}">
					<a th:href="@{/GetResults(sessionId=${s.idsession})}">Edit</a>
				</span>
				<span th:if="${s.isReported()}">
					<a th:href="@{/GetReport(reportId=${s.report_idreport})}">Verbale</a>
				</span>
			</td>

		</tr>
		<!-- if sessions is empty, show message-->
		<tr th:if="${#lists.isEmpty(sessions)}">
			<td>No sessions found</td>
		</tr>
	</table>
</body>

</html>